<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container" style="max-width: 768px;">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        지출.수입 조회 화면
    </div>
    <div>
        <a class="btn btn-lg btn-dark" href="/fee/feeLogRefresh">새로고침</a>
        <a class="btn btn-lg btn-dark" href="/fee/feeCode">코드관리</a>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>