<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        회비 구분 화면
    </div>
    <div>

        <table class="table table-striped">
            <form action="/fee/feeLogEtcUpdate" method="post">
            <thead>
            <tr>
                <th>입금일자</th>
                <th>내용</th>
                <th>잔액</th>
                <th>구분</th>
                <th>비고</th>
                <th>금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="feeLogEtc: ${feeLogEtcs}">
                <td th:text="${#temporals.format(feeLogEtc.date, 'yyyy년MM월dd일 HH시mm분ss초')}"></td>
                <td th:text="${feeLogEtc.contents}"></td>
                <td th:text="${#numbers.formatCurrency(feeLogEtc.afterBalance)}"></td>
                <td th:text="${feeLogEtc.division}"></td>
                <td><input th:type="text" th:value="${feeLogEtc.memo}"><button type="submit" class="btn btn-primary">수정</button></td>
                <td th:text="${#numbers.formatCurrency(feeLogEtc.price)}"></td>
            </tr>
            </form>
            <!--tr th:each="member : ${}">
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
            </tr -->
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>