<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<form action="/fee/feeCodeInsert" method="post" name="form">
    <input type="hidden" name="id">
    <input type="hidden" name="codeId">
    <input type="hidden" name="name">
    <input type="hidden" name="gubun">
</form>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        코드별 통계
    <!--TODO 2021 06 21 통계 금액 시각화 -->
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>순번</th>
                <th>구분</th>
                <th>이름</th>
                <th>금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stat: ${statList}">
                <td th:text="${statStat.index}+1" ></td>
                <td th:text="${stat.gubun}"></td>
                <td th:text="${stat.name}"></td>
                <td th:text="${#numbers.formatCurrency(stat.priceSum)}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div>
        회비 구분
    </div>
    <div>
        <button class="btn btn-primary" th:attr="onclick=|apply()|">모두적용</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>입금일자</th>
                <th>내용</th>
                <th>잔액</th>
                <th>구분</th>
                <th>비고</th>
                <th>금액</th>
                <th>코드</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detail: ${detailList}">
                <td th:text="${#temporals.format(detail.date, 'yyyy년MM월dd일 HH시mm분ss초')}" th:name="'date'+${detailStat.index}"></td>
                <td th:text="${detail.contents}" th:name="'contents'+${detailStat.index}"></td>
                <td th:text="${#numbers.formatCurrency(detail.afterBalance)}" th:name="'afterBalance'+${detailStat.index}"></td>
                <td th:text="${detail.division}" th:name="'division'+${detailStat.index}"></td>
                <td th:text="${detail.memo}" th:name="'memo'+${detailStat.index}"></td>
                <td th:text="${#numbers.formatCurrency(detail.price)}" th:name="'price'+${detailStat.index}"></td>
                <td><input type="text" th:name="'codeText'+${detailStat.index}" th:value="${detail.code}">
                    <input type="hidden" th:value="${detail.id}" th:name="'id'+${detailStat.index}">
                    <select class="select_type01 w170" th:name="'code'+${detailStat.index}"
                            th:onchange="|javascript:cleanText('${detailStat.index}')|">
                        <option value="선택"> 선택 </option>
                        <option th:each="code : ${codeList}"
                                th:value="${code?.id}"
                                th:utext="${code?.name + '(' + code?.gubun + ')'}"></option>
                    </select>
                    <a class="btn btn-lg btn-info" th:onclick="|javascript:update('${detailStat.index}')|">적용</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function update(idx) {

        // 코
        let division = document.getElementsByName("division" + idx)[0].innerText;
        let codeName = document.getElementsByName("codeText" + idx)[0];
        let code = document.getElementsByName("code" + idx)[0];
        let id = document.getElementsByName("id" + idx)[0];


        if (codeName.value === '' && code.value === '선택') {
            alert("코드값을 입력하세요");
            codeName.focus();
            return;
        }

        if (code.value !== '선택') {
            document.form.codeId.value = code.value;
        }

        document.form.name.value = codeName.value;
        document.form.gubun.value = division;
        document.form.id.value = id.value;
        document.form.submit();
    }

    function cleanText(idx) {
        document.getElementsByName("codeText" + idx)[0].value = '';
    }
</script>
</html>
