<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        회비 구분 화면
    </div>
    <div>
        <form role="form" th:object="${form}" action="/fee/list" method="post">
        <div class="row g-3">
            <div class="col">
                <input class="form-control" type="date" th:field="*{startDate}">
            </div>
            <div class="col">
                <input class="form-control" type="date" th:field="*{endDate}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="내용" th:field="*{contents}">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">검색</button>
            </div>
        </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>입금일자</th>
                <th>내용</th>
                <th>잔액</th>
                <th>구분</th>
                <th>비고</th>
                <th>금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="feelog: ${feeLogs}">
                <td th:text="${#temporals.format(feelog.date, 'yyyy년MM월dd일 HH시mm분ss초')}"></td>
                <td th:text="${feelog.contents}"></td>
                <td th:text="${#numbers.formatCurrency(feelog.afterBalance)}"></td>
                <td th:text="${feelog.division}"></td>
                <td th:text="${feelog.memo}"></td>
                <td th:text="${#numbers.formatCurrency(feelog.price)}"></td>
            </tr>
            <!--tr th:each="member : ${}">
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
            </tr -->
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>