<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    회원 목록
  </div>
  <div>
    <form action="/member/secessionUpdate" method="post" name="form">
      <input type="hidden" name="id">
      <input type="hidden" name="secessionDate">
    </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>이름</th>
        <th>생년월일</th>
        <th>가입일</th>
        <th>탈퇴</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member: ${memberList}">
        <td th:text="${member.name}"></td>
        <td th:text="${#temporals.format(member.birth, 'yyyy년MM월dd일')}"></td>
        <td th:text="${#temporals.format(member.joinDate, 'yyyy년MM월dd일')}"></td>
        <td>
          <input th:type="date" th:id="'dateId'+${userStat.index}"  />
          <input th:type="hidden" th:id="'userId'+${userStat.index}" th:value="${member.id}"  />
          <button class="btn btn-primary" th:attr="onclick=|secessionBtnClick('${userStat.index}')|">수정</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
  function secessionBtnClick(idx) {
    if (document.getElementById('dateId' + idx).value === '') {
      alert('일자를 선택하세요.');
      document.getElementById('dateId' + idx).focus();
      return;
    }
    document.form.id.value = document.getElementById('userId' + idx).value;
    document.form.secessionDate.value = document.getElementById('dateId' + idx).value;
    document.form.submit();
  }
</script>
</html>