<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .table > :not(caption) > * > * {
        padding: 0.0rem 0.0rem;
        background-color: var(--bs-table-bg);
        background-image: linear-gradient(var(--bs-table-accent-bg), var(--bs-table-accent-bg));
        border-bottom-width: 1px;
    }
</style>
<body>
<div class="container" style="max-width: 768px;">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>총 납부액</th>
                <th>미납금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fee : ${fees}">
                <td th:text="${fee.name}"></td>
                <td th:text="${#numbers.formatCurrency(fee.price)}"></td>
                <td th:text="${#numbers.formatCurrency(fee.unpaid)}"></td>
            </tr>
            <!--tr th:each="member : ${}">
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
                <td th:text="${}"></td>
            </tr -->
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>