<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet"/>
</head>
<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <form th:action method="post" th:object="${file}" enctype="multipart/form-data">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>
        <input type="file" name="uploadFiles" multiple="multiple">
        <button type="submit" class="btn btn-primary">등록</button>
    </form>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>