<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/user/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/user/list">회원 목록</a>
            <a class="btn btn-lg btn-secondary" href="/user/secessionList">탈퇴회원관리</a>
        </p>
        <p class="lead">회비 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/fee/new">내역 입력</a>
            <a class="btn btn-lg btn-dark" href="/fee/list">입출금내역</a>
            <a class="btn btn-lg btn-dark" href="/fee/etcList">내역 구분</a>
            <a class="btn btn-lg btn-dark" href="/fee/userFeeList">개별회비 조회</a>
            <a class="btn btn-lg btn-dark" href="/fee/earningsAndExpenditure">수입 및 지출 현황</a>
        </p>
        <p class="lead">XX 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/fee/etcList">개발 예정</a>
            <a class="btn btn-lg btn-info" href="/orders">개발 예정</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>